// main: ../styles.scss

// Baseline font-size: 10px = 1rem
$rem-baseline: 10px;

// Font family
$base-font-stack: "proxima-nova", sans-serif !default;
$base-heading-font: "proxima-nova", sans-serif !default;

// Max Width
$max-width: 1400px;
$max-width-desktop-l: 1920px;
$max-width-desktop: 1200px;
$max-width-laptop: 980px;
$max-width-tablet: 960px;
$max-width-tablet-p: 552px;
$max-width-phone: 328px;

// Font Weight
$font-weight-bold: 700;
$font-weight-heavy: 900;
$font-weight-light: 300;
$font-weight-regular: 400;

// Base Colors
$color-black: #000;
$color-white: #fff;
$color-grey: #d9dadc;

// Primary Color
$color-primary: #1db954;
$color-primary-hover: #1ed760;