// main: ../styles.scss

// Baseline font-size: 10px = 1rem
$rem-baseline: 10px;

// Font family
$base-font-stack: "proxima-nova", sans-serif !default;
$base-heading-font: "proxima-nova", sans-serif !default;

// Font colour
$base-font-color: #000 !default;
$base-font-color-hover: #ffb600 !default;

// Max Width
$max-width: 1400px;
$max-width-desktop-l: 1920px;
$max-width-desktop: 1200px;
$max-width-laptop: 980px;
$max-width-tablet: 960px;
$max-width-tablet-p: 552px;
$max-width-phone: 328px;

// Font Weight
$font-weight-bold: 700;
$font-weight-heavy: 900;
$font-weight-light: 300;
$font-weight-regular: 400;

// Base Colors
$color-orange: #ffb600;
$color-black: #000;
$color-dark: #212121;
$color-white: #fff;
$color-offwhite: #f6f6f6;
$color-grey: #d9dadc;
$color-red: #f60023;
$color-green: #417505;
$color-blue: #0088ce;
$color-salomie: #fcdc88;
$color-sage: #8e9c7e;

// Primary Color
$color-primary: #1db954;
$color-primary-hover: #1ed760;

// Background Colors
$color-surface: #fff;
$color-bg-light: #f4f4f4;
$color-bg-dark: #d8d8d8;

// Text Color Emphasis
$color-text-black-high: rgba($color-black, 0.87);
$color-text-black-medium: rgba($color-black, 0.6);
$color-text-black-disabled: rgba($color-black, 0.38);

$color-text-white-high: rgba($color-white, 0.87);
$color-text-white-medium: rgba($color-white, 0.6);
$color-text-white-disabled: rgba($color-white, 0.38);

// Heading Colors
$color-primary-heading: $color-primary;
$color-primary-heading: $color-primary;

$color-black-heading: $color-text-black-high;
$color-black-heading-medium: $color-text-black-medium;
$color-black-heading-disabled: $color-text-black-disabled;

$color-white-heading: $color-text-white-high;
$color-white-heading-medium: $color-text-white-medium;
$color-white-heading-disabled: $color-text-white-disabled;

// Body Colors
$color-black-body: $color-text-black-high;
$color-black-body-medium: $color-text-black-medium;
$color-black-body-disabled: $color-text-black-disabled;

$color-white-body: $color-text-white-high;
$color-white-body-medium: $color-text-white-medium;
$color-white-body-disabled: $color-text-white-disabled;

// Subtitle Colors
$color-primary-subtitle: $color-primary;
$color-primary-subtitle: $color-primary;

$color-black-subtitle: $color-text-black-high;
$color-black-subtitle-medium: $color-text-black-medium;
$color-black-subtitle-disabled: $color-text-black-disabled;

$color-white-subtitle: $color-text-white-high;
$color-white-subtitle-medium: $color-text-white-medium;
$color-white-subtitle-disabled: $color-text-white-disabled;

// Button Colors
$color-primary-button: $color-primary;
$color-primary-button: $color-primary;

$color-black-button: $color-text-black-high;
$color-black-button-medium: $color-text-black-medium;
$color-black-button-disabled: $color-text-black-disabled;

$color-white-button: $color-text-white-high;
$color-white-button-medium: $color-text-white-medium;
$color-white-button-disabled: $color-text-white-disabled;

// Overline Colors
$color-primary-overline: $color-primary;
$color-primary-overline: $color-primary;

$color-black-overline: $color-text-black-high;
$color-black-overline-medium: $color-text-black-medium;
$color-black-overline-disabled: $color-text-black-disabled;

$color-white-overline: $color-text-white-high;
$color-white-overline-medium: $color-text-white-medium;
$color-white-overline-disabled: $color-text-white-disabled;

// Caption Colors
$color-primary-caption: $color-primary;
$color-primary-caption: $color-primary;

$color-black-caption: $color-text-black-high;
$color-black-caption-medium: $color-text-black-medium;
$color-black-caption-disabled: $color-text-black-disabled;

$color-white-caption: $color-text-white-high;
$color-white-caption-medium: $color-text-white-medium;
$color-white-caption-disabled: $color-text-white-disabled;

// social Colors
$brand-color-facebook: #3b5998;
$brand-color-instagram: #405de6;
$brand-color-linkedin: #0077b5;
$brand-color-pinterest: #bd081c;
$brand-color-twitter: #1da1f2;

// Elevation
$box-shadow-1dp: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
$box-shadow-2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$box-shadow-3dp: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
  0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
$box-shadow-4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
$box-shadow-6dp: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
  0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
$box-shadow-8dp: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
$box-shadow-9dp: 0 9px 12px 1px rgba(0, 0, 0, 0.14),
  0 3px 16px 2px rgba(0, 0, 0, 0.12), 0 5px 6px -3px rgba(0, 0, 0, 0.2);
$box-shadow-12dp: 0 12px 17px 2px rgba(0, 0, 0, 0.14),
  0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
$box-shadow-16dp: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
  0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$box-shadow-24dp: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
  0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);

// Navigation
$nav-font-color: $color-grey;
$nav-font-color-hover: $color-primary-hover;
$nav-font-color-transition: $color-grey;
$nav-font-color-dropdown: $color-grey;
$nav-dropdown-bg-color: $color-white;
$nav-border-color: $color-grey;

// Mobile Navigation
$mobile-nav-color-text: $color-grey;
$mobile-nav-color-shadow: $color-black;
$mobile-nav-color-bg: rgba(255, 255, 255, 1);
$mobile-nav-hover-bg: $color-grey;
$mobile-nav-color-hover-text: $color-grey;

// Menu Icon icon
$menu-icon-padding-x: 20px;
$menu-icon-padding-y: 18px;
$menu-icon-layer-width: 30px;
$menu-icon-layer-height: 4px;
$menu-icon-layer-spacing: 6px;
$menu-icon-layer-color: $color-grey;
$menu-icon-layer-border-radius: 4px;
$menu-icon-hover-opacity: 0.7;
$menu-icon-hover-transition-duration: 0.15s;
$menu-icon-hover-transition-timing-function: linear;
$menu-icon-hover-use-filter: false;
$menu-icon-hover-filter: opacity(50%);

// Forms
$form-input-color: $color-grey;
$form-input-color-border: $color-grey;
$form-input-color-border-focus: $color-grey;
$form-input-color-border-hover: $color-grey;
$form-input-color-border-selected: $color-grey;
$form-input-color-placeholder: $color-grey;
$form-select-color-bg: $color-white;
$form-button-color: $color-white;
$form-button-color-bg: $color-white;

// Cookie
$cookie-bg-color: $color-grey;
$cookie-font-color: $color-grey;
$cookie-link-color: $color-grey;

// Messages
$error-color: $color-primary;

// Toolbar
$toolbar-border-color: $color-grey;

// Buttons
$button-bg-color: $color-primary;
$button-bg-color-hover: $color-primary-hover;
$button-text-color: $color-white;
$button-text-color-hover: $color-white;
